<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />

        <title>Craft Code Test</title>
        <meta name="description" content="A quick test" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="referrer" content="origin-when-cross-origin" />
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />

        <link rel="stylesheet" type="text/css" href="{{ mix('css/styles.css') }}" media="all" />
    </head>

    <body>
        {% block header %} {% endblock %}

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="py-5 bg-black">
            <div class="container px-5"><p class="m-0 text-center small">Copyright &copy; Code test 2021</p></div>
        </footer>

        <script src="{{ mix('js/manifest.js') }}"></script>
        <script src="{{ mix('js/vendor.js') }}"></script>
        <script src="{{ mix('js/site.js') }}"></script>
    </body>
</html>
