{% extends "_layout" %}

{% block header %}
    <header class="masthead text-center mt-5 mb-5">
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading mb-0">Homepage</h1>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    {% for section in entry.imageWithText.all %}
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{{ section.image.one.url }}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">{{ section.headline }}</h2>
                            <p>{{ section.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}
